html {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-family: 'Inknut Antiqua', serif;
}

body {
  background-color: rgba(211, 211, 211, 0.307);
}
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.trybewarts-header-logo {
  display: flex;
  height: 45px;
}

.trybewarts-login {
  display: flex;
}

.textarea {
  width: 100%;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  flex: 0 0 675px;
  flex-direction: column;
  justify-content: space-evenly;
}


#input-name , #input-lastname , #input-email {
  flex: 0 1 300px;
  padding: 10px;

}

section p {
  align-self: center;
}

#house {
  flex: 1 1 auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}


section:nth-of-type(2) div:nth-of-type(1) {
  display: flex;
  width: 40%;
  flex-direction: column;
}
section:nth-of-type(2) div:nth-of-type(2) {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

#label-content {
  flex: 1 1 100%;
}

.techOptions {
  flex: 1 1 30%;
  border: 1px solid lightgray;
}


#submit-btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: white;
  font-weight: 700;
}

h1{
  color: white;
}

footer{
 color: white;
 background-color: rgb(61, 62, 74);
 display: flex;
 justify-content: center;
}
