html {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.trybewarts-header-logo {
  display: flex;
  height: 45px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  flex: 0 0 675px;
  flex-direction: column;
}

#input-name , #input-lastname , #input-email {
  flex: 0 1 300px;
  padding: 10px;

}

section p {
  align-self: center;
}

#house {
  flex: 1 1 auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

#label-family {
  flex: 1 0 100%;
}

section:nth-of-type(2) div {
  display: flex;
  width: 45%;
  flex-wrap: wrap;
}

#submit-btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: white;
  font-weight: 700;
}