* {
  margin: 0;
  font-family: Inknut Antiqua, serif;
}

html {
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.trybewarts-header-logo {
  display: flex;
  height: 45px;
}

h1 {
  color: white;
}

.trybewarts-login {
  display: flex;
}

body {
  background-color: rgba(211, 211, 211, 0.307);
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  min-height: 790px;
}

#evaluation-form {
  align-items: center;
  border: 3px solid gray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 675px;
  padding: 10px 0;
}

section {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 95%;
}

/* estilização que vi um colega fazendo não é mérito meu: */
section:nth-of-type( 1 ) , section:nth-of-type( 2 ) {
  border-bottom: 2px solid gray;
}


section p {
  align-self: center;
}

div {
  display: flex;
}

section:nth-of-type( 2 ) div:nth-of-type( 1 ) {
  flex-direction: column;
  width: 40%;
}

section:nth-of-type( 2 ) div:nth-of-type( 2 ) {
  flex-wrap: wrap;
  width: 60%;
}

#input-name , #input-lastname , #input-email {
  flex: 1 1 250px;
  padding: 10px;
}

#evaluation-form input , select , textarea , #email , #senha {
  background-color: white;
  border-radius: 5px;
  border: 0;
  margin: 5px;
}

#house {
  flex: 1 1 auto;
}

#label-content {
  flex: 1 1 100%;
}

.techOptions {
  border: 1px solid lightgray;
  flex: 1 1 30%;
}

.textarea {
  width: 100%;
  position: relative;
}

#counter {
  bottom: 15px;
  color: rgba(128, 128, 128, 0.752);
  position: absolute;
  right: 5px;
}

#submit-btn {
  border: 0;
  border-radius: 8px;
  color: white;
  height: 30px;
  flex: 1 1 100%;
  font-weight: 700;
}

#trybewarts-forms-logo {
  order: 1;
}

footer {
  color: white;
  background-color: rgb(61, 62, 74);
  display: flex;
  height: 45px;
  justify-content: center;
}
